<!DOCTYPE html>
<html lang="pt-br">
	<!--[if lt IE 7 ]> <html lang="pt-BR" class="no-js ie6"> <![endif]-->
	<!--[if IE 7 ]>    <html lang="pt-BR" class="no-js ie7"> <![endif]-->
	<!--[if IE 8 ]>    <html lang="pt-BR" class="no-js ie8"> <![endif]-->
	<!--[if IE 9 ]>    <html lang="pt-BR" class="no-js ie9"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Cymon Designer">
		<title>Bitbucket Sincronização</title>

		<style>
			body, 
			pre 
			{
				font: 12px Arial;
			}
			h2,h3,h4,h5 
			{
				margin: 0;
			}
		</style>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn\'t work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>